<div class="card" style="width: 100%;" *ngIf="userLoaded">
  <div class="card-body">
    <h2 class="card-title">Welcome {{user.entityName}}</h2>
    <div *ngIf="user.isAgricultureCompany; then showForAgriculture; else showForNGO"></div>
    <ng-template #showForAgriculture>
      <p class="card-text">Thanks for trusting CropHope. In this dashboard you will be able to see and edit your company
        profile. Press the button below to create or edit your your public profile other companies will see when deciding
        who to give funds!
      </p>
      <button type="button" class="btn btn-primary" (click)="showPublicProfileForm = true">Edit public profile</button>
      <form *ngIf="showPublicProfileForm" style="margin-top: 10px">
        <div class="form-group">
          <label>Public company description</label>
          <textarea class="form-control" rows="4" maxlength="300" placeholder="This company is about..." [(ngModel)]="publicProfile.description"
            name="description"></textarea>
          <small class="form-text text-muted">Max. 300 characters.</small>
        </div>
        <div class="form-group">
          <label>URL to company's website</label>
          <input class="form-control" placeholder="www.mywebsite.com" [(ngModel)]="publicProfile.websiteURL" name="websiteURL">
          <small class="form-text text-muted">If you don't have a website show a website that proofs your existance</small>
        </div>
        <div class="form-group">
          <label>Phone number</label>
          <input class="form-control" placeholder="511959999999" [(ngModel)]="publicProfile.phoneNumber" name="phoneNumber">
          <small class="form-text text-muted">Please include your country's and city's calling codes.</small>
        </div>
        <div class="form-group">
          <label>Current carbon footprint in tonnes of CO<sub>2</sub></label>
          <input class="form-control" placeholder="133.45" [(ngModel)]="publicProfile.carbonFootprint" name="carbonFootprint">
        </div>
        <div class="form-group">
          <label>Percentage (%) you are willing to reduce</label>
          <input class="form-control" placeholder="20" [(ngModel)]="publicProfile.carbonReductionPerc" name="carbonReductionPerc">
        </div>
        <div class="form-group">
          <label for="companyLogo">Please attach your company logo (png)</label>
          <input type="file" class="form-control-file" id="companyLogoInput" accept="image/*" name="logoStorageId" (change)="onPublicProfileLogoUploaded($event)">
        </div>
        <div>
          <button type="button" class="btn btn-primary float-left" (click)="onPublicProfileSubmit()">Submit</button>
          <button class="btn btn-danger float-right" (click)="onPublicProfileFormCancel()">Cancel</button>
        </div>
      </form>
    </ng-template>
    <ng-template #showForNGO>
      <p class="card-text">Thanks for trusting CropHope. In this dashboard you will be able to see and edit your company
        profile. Press the button below start searching for companies to give funds to!
      </p>
      <button type="button" class="btn btn-success" routerLink="/fundraisers">Start giving funds</button>
    </ng-template>
  </div>
</div>

<div *ngIf="userLoaded && user.finishedForm && publicProfile.isFilled" style="margin-top: 30px;">
  <h3>Public fundraiser profile</h3>
  <div class="card" style="width: 100%; margin-top: 10px; background-color: #f1f8e9;">
    <div class="card-body">
      <div class="row" height="100px">
        <div class="col-8 d-flex align-items-center">
          <h2 class="align-middle">{{publicProfile.entityName}}</h2>
        </div>
        <div class="col-4">
          <img [src]="publicProfile.logoStorageURL" class="float-right" width="80px" height="80px">
        </div>
      </div>
      <hr>
      <p>{{publicProfile.description}}</p>
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">
          <p style="font-size: 1.2rem;">Current carbon footprint: <b>{{publicProfile.carbonFootprint}} tCO2</b></p>
        </div>
        <div class="col-12 col-md-6">
          <p style="font-size: 1.2rem;">Percentage willing to reduce: <b>{{publicProfile.carbonReductionPerc}}%</b></p>
        </div>
      </div>
      <hr>
      <div style="margin-top: 20px; margin-bottom: 20px;; ">
        <h4 style="margin-bottom:20px;">Contact information: </h4>
        <div class="row">
          <div class="col-12 col-md-4" style="text-align: center;">
            <button type="button" (click)="onPublicProfileWebsiteLinkClicked()" class="btn btn-info" style="display: inline-block;">Visit
              our website</button>
          </div>
          <div class="col-12 col-md-4" style="text-align: center; margin-top: 10px;">
            <p style="display: inline-block;">Phone number: <b>{{publicProfile.phoneNumber}}</b></p>
          </div>
          <div class="col-12 col-md-4" style="text-align: center; ">
            <p style="display: inline-block;">Email: <b>{{publicProfile.email}}</b></p>
          </div>
        </div>
      </div>
      <button type="button" width="100%" class="btn btn-success float-right" style="font-size: 1.3rem; margin-right: 30px;">Give funds!</button>
    </div>
  </div>
</div>